{{ 'section-announcement-bar.css' | asset_url | stylesheet_tag }}
<div
  class="znt-announcement znt-announcementbar-slider"
  {% if section.settings.enable_autoplay %}
    {% comment %} Defined in seconds in the admin panel  {% endcomment %}
    znt-autoplay="{{ section.settings.autoplay_speed | times: 1000 }}"
  {% endif %}
>
  {% if section.settings.enable_autoplay %}
    <button class="znt-announcement_toggle-pause znt-play">
      <svg aria-hidden="true" class="svg-geo" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <polygon points="2,2 30,16 2,30"></polygon>
      </svg>
      Autoplay Carousel
    </button>
  {% endif %}

  <button class="znt-announcement_prev" aria-label="Previous">
    <svg aria-hidden="true" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
      <path d="M22,2 L10,16 22,30" stroke-width="4"></path>
    </svg>
  </button>
  <button class="znt-announcement_next" aria-label="Next">
    <svg aria-hidden="true" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
      <path d="M10,2 L22,16 10,30" stroke-width="4"></path>
    </svg>
  </button>

  <div
    {% if section.settings.custom_id != blank %}
      id="{{ section.settings.custom_id }}"
    {% endif %}
    class="znt-announcement_wrapper">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'announcement' -%}
          {%- if block.settings.text != blank -%}
            <div class="znt-announcement_slide">
              <style>
                .znt-announcementbar-slider {
                  --znt-announcement-background: {{ section.settings.background_color | default: '#002855' }};
                  --znt-announcement-text-color: {{ section.settings.text_color | default: '#ffffff' }};
                  --znt-announcement-icon-color: {{ section.settings.icon_color | default: '#ffffff' }};
                }
                [id*=announcement-bar] {
                  background-color: var(--znt-announcement-background) !important;
                }
                .znt-announcement-text-color {
                  color: var(--znt-announcement-text-color) !important;
                }
                .znt-announcement_prev svg path,
                .znt-announcement_next svg path,
                .znt-announcement_toggle-pause svg polygon {
                  stroke: var(--znt-announcement-icon-color) !important;
                }
                .znt-announcement_prev,
                .znt-announcement_next,
                .znt-announcement_toggle-pause {
                  background-color: var(--znt-announcement-background) !important;
                  border: 1px solid var(--znt-announcement-background) !important;
                }
                .znt-announcement_wrapper {
                  background-color: var(--znt-announcement-background) !important;
                }
                .znt-announcement_slide {
                  background-color: var(--znt-announcement-background) !important;
                }
                .znt-announcement_slide a svg {
                  stroke: var(--znt-announcement-text-color) !important;
                  fill: var(--znt-announcement-text-color) !important;
                }
              </style>

              {%- if block.settings.link != blank -%}
                <a href="{{ block.settings.link }}">
              {%- endif -%}
              <span
                class="znt-announcement-text-color"
              >
                {{ block.settings.text | escape }}
              </span>
              {%- if block.settings.link != blank -%}
                {{- 'icon-arrow.svg' | inline_asset_content -}}
              {%- endif -%}
              {%- if block.settings.link != blank -%}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{{ 'announcement-bar-core.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Enable Autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Autoplay speed (seconds)",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 3,
      "unit": "s"
    },
    {
      "type": "number",
      "id": "icon_size",
      "label": "Icons size",
      "default": 16
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#002855"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}